<div class="container text-center">

<h1>Wikinimous</h1><%= link_to "+ Add a new article", new_article_path %>
<hr>

<div class="flexbox">
<div class="articles">
<% @articles.each do |article| %>
  <h2><%= link_to article.title, article_path(article) %>
    <%= link_to article_path(article),
      method: :delete,
      data: { confirm: "Are you sure?" } do %>
      <i class="fas fa-trash-alt"></i>
      <% end %>
  </h2>

  <p><%= article.content %></p>
  <hr>
  <% end %>
</div>
</div>

</div>
