// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
i {
  font-size: 12px;
}

.articles {
  width: 700px;
  text-align: justify;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
